# ModelScope
MODELSCOPE_API_KEY=<your_modelscope_api_key>
MODELSCOPE_BASE_URL=https://api-inference.modelscope.cn/v1

# ZenMux
ZENMUX_API_KEY=<your_zenmux_api_key>
ZENMUX_BASE_UR=https://zenmux.ai/api/v1

# SiliconFlow
SILICONFLOW_API_KEY=<your_siliconflow_api_key>
SILICONFLOW_BASE_URL=https://api.siliconflow.cn/v1

# Tioncico
TIONCICO_API_KEY=<your_tioncico_api_key>
TIONCICO_BASE_URL=http://api.dreamxz.cn:9999/v1

# Qianfan
QIANFAN_API_KEY=<your_qianfan_api_key>
QIANFAN_BASE_URL=https://qianfan.baidubce.com/v2/coding
